div{

    border: solid black 1px;
    margin: 5px;
    padding: 5px;
}

/* Start of Navbar settings */
.navbar {
    display: flex;
    flex-direction: column;
    
    background-color: red;
    font: menu;
    
  }
  
  .nav-links {
    display: flex;
    flex-direction: column;
    
  }

  .navbar .nav-links a {
    display: flex;
    
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    padding: 2px;
    
    
    /* Mouse hover effect */
  }
  
  .navbar .nav-links a:hover {
    color: orange;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  

header{

    background-color: #2F4858;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font: menu;
    color: #f6ae2d;
    font-size: 20px;
    text-align: center;

}

.My-Background img{

    
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 250px;

       
    
}

.main-content{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #2F4858;

}


.main-content img{

    width: 150px;
    height: 100px;

}

.main-options{

        display: flex;
        flex-direction: column;
        align-items: center;
        font: menu;
        font-size: 20px;
        color: #f6ae2d;
        background-color: #33658a;
        border: double whitesmoke thick;
        padding: 5px;
        
}

.social-media{

    display: flex;
    justify-content: space-between;

}

.social-media img{

    width: 80px;

}

header h1{

    color: #f6ae2d;
    margin: 2px;


}

.contact-info{

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contact-info p{
    
    margin: 3px;
    color:#f6ae2d;
    font-size: 15px;
    font-weight: bold;
}

footer{

    background-color: #2F4858;
    display: flex; 
    flex-direction: column;


}

.contact-text{

    color: white;
}

.main-blog{

    background-color: #2F4858;
}

.main-blog-posts{

    color: white;
    font-size: 20px;
    font-style: menu;
}


.contact-me{
    display: flex;
    flex-direction: column;

}

.disclaimer{

    font-style: italic;
    font-size: small;
}

.readme{

    color: #f6ae2d;
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main.content{

    display: flex;
    flex-direction: row;
    }
    .My-Background img{
        width: 800px;
        height: 400px;
        justify-content: center;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        height: 10.5vh;
        background-color: orange;
        font: menu;
        
      }
      
      .nav-links {
        display: flex;
        flex-direction: row;
        
    
    
      }
    
      
      .navbar .nav-links a {
        display: flex;
        
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
        padding: 20px;
        margin-left: 10px;
        background-color: #2F4858;
        border-radius: 20px 2px 20px;
        /* Mouse hover effect */
      }
      
      .navbar .nav-links a:hover {
        color: orange;
        -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
      }
      
      .My-Background img{

    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }


    .contact-me{
        display: flex;
        flex-direction: row;
    }
}